* {
    width: 100%;
    margin: 0;
    font-family: sans-serif;
    font-size: 50px;
}
.block {
    display: flex;
    width: 700px;
    justify-content: space-between;
}
button {
    height: 200px;
    color: white;
    background-color: slategray;

}